/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
 ===========================================
 Custom Styles
 ===========================================
*/

body {
  color: rgb(40, 49, 54);
  font: 300 15px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
 ===========================================
 Grid
 ===========================================
*/

html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  --moz-box-sizing: inherit;
  -box-sizing: inherit;
}

/*
.container {
  margin: 0 auto;
  max-width: 1000px;
}
*/

.my-container,
.grid {
  margin: 0 auto;
  width: 960px;
}

.my-container {
  padding-left: 30px;
  padding-right: 30px;
}

.col-1-2 {
  width: 48.72%;
}

.col-1-3 {
  width: 32.33%;
}

.col-1-5 {
  width: 19%;
}

.col-2-3 {
  width:65.66%;
}

.col-1-2,
.col-1-3,
.col-1-5,
.col-2-3 {
  display: inline-block;
  vertical-align: top;
}

.grid,
.col-1-2,
.col-1-3,
.col-1-5,
.col-2-3 {
  padding-left: 15px;
  padding-right: 15px;
}

.col-1-2,
.col-1-3,
.col-1-5,
.col-2-3 {
  padding-top: 20px;
  padding-bottom: 20px;
}

/*
 ===========================================
 Clearfix
 ===========================================
*/

.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear:both;
}

.cf {
  clear:both;
  *zoom:1;
}

/* 
 ===========================================
 Rows
 ===========================================
*/

.row {
  min-width: 1000px; 
  margin: 0 auto;
}

.row-1 {
  background-color: #f6f8f8;
}

.row-2 {
  background-color: #f6f6f6;
}

.row-3 {
  background-color: ;
}

.clear-row {
  background-color: #fff;
}

.baby-powder-row {
  background-color: #FEFEFA;
}

.homepg-row-0 {
  margin-top: -30px;
  margin-bottom: -10px;
  padding-top: 50px;
  padding-bottom: 40px;
}

.homepg-row-1 {
  margin-top: 10px;
  margin-bottom: 20px;
  padding-bottom: 25px;
  padding-top: 10px;
}

.homepg-row-2 {
  margin-top: -20px;
}

#filler-row {
  /*
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    color-stop(0, #F0B37E),
    color-stop(0.73, #EB9850)
  );
  background-image: -o-linear-gradient(left, #F0B37E 38%, #EB9850 73%);
  background-image: -moz-linear-gradient(left, #F0B37E 38%, #EB9850 73%);
  background-image: -webkit-linear-gradient(left, #F0B37E 38%, #EB9850 73%);
  background-image: -ms-linear-gradient(left, #F0B37E 38%, #EB9850 73%);
  background-image: linear-gradient(to left, #F0B37E 38%, #EB9850 73%);
  color: #fff;
  */
  border-top: 2px solid #fbfdfc;
  padding: 80px 40px;
}

/*
 ===========================================
 Typography
 ===========================================
*/

h1, h2, h3, h4,
.primary-nav {
  font:400 16px/22px 'Josefin Sans', sans-serif;
  text-transform: capitalize;
}

h1, h2, h3, h4, p {
  margin-bottom: 20px;
}

h1, h2, h3, h4 {
  color: rgb(20, 7, 2);
}

h1 {
  font-size: 32px;
  line-height: 44px;
}

h2 {
  font-size: 24px;
  line-height: 44px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

strong {
  font-weight: bold;
}

cite, em {
  font-style: italic;
}

.hor-center {
  text-align: center;
}

/* 
 =============================================
 Leads
 =============================================
*/


#filler-row h1 {
  color: #7f7f7f;
}

/*
 =============================================
 Links
 =============================================
*/

a {
  color: rgb(20, 7, 2);
}

.primary-nav a,
.secondary-nav a {
  text-decoration: none;
}

.primary-footer a {
  color: #000;
}

.primary-header a:hover,
.primary-footer a:hover {
  border-bottom: 1px solid rgb(232, 126, 4);
  color: rgb(244, 208, 63);
}

/*
 =============================================
 Carousel
 =============================================
*/

#myCarousel {
  border-top: 1.98px solid #EB9850;
  height: 5;
  padding:0;
}

.carousel-indicators {
  bottom: 0;
}

.carousel-indicators .active {
  background-color: #f6740a;
}

.carousel-indicators li {
  border-color: #fff;
}

/*
 =============================================
 Home
 =============================================
*/

.hero {
 padding: 50px;
}

.values {
  padding-top: 20px;
}

.values h2 {
  color: rgb(137, 134, 126);
  padding: 5px 0px;
}

.values p {
  color: #826656;
}

.values ul li {
  border: 2px solid #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  color: #fff;
  display: inline-block;
  margin: 20px;
}

.values ul li:nth-child(1) {
  background-color: #e8e1fb;
  padding: 35px 25px;
}

.values ul li:nth-child(2) {
  background-color: #1abc9c;
  padding: 52px 25px;
}

.values ul li:nth-child(3) {
  background-color: #f0a566;
  padding: 62px 18px;
}

.values ul li:nth-child(4) {
  background-color: #ff7061;
  padding: 52px 20px;
}

.values ul li:nth-child(5) {
  background-color: #f7e1d4;
  padding: 40px 24px;
}

.intro,
.establishment {
  background-color: #fff;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.intro {
  margin-right: 9px;
}

.establishment {
  margin-left: 9px;
}

.mission {
  background-color: ;
  color: ;
  font-size: 17px;
}

/*
 ============================================
 About Page
 ============================================
*/

#about-who {
  padding-top: 80px;
}

#about-who,
#about-what,
#about-why,
#about-how {
  text-align: center;
}

.foldtr {
  position: relative;
   -webkit-box-shadow: -5px 7px 5px rgba(0,0,0,0.8);
   -moz-box-shadow: -5px 7px 5px rgba(0,0,0,0.8);
   box-shadow: -5px 7px 5px rgba(0,0,0,0.8);
}

.foldtr:before {
  content: "";
  position: absolute;
  top: 0%;
  right: 0%;
  width: 0px;
  height: 0px;
  border-right: 170px solid #f6f8f8;
  border-bottom: 170px solid transparent;
  -webkit-box-shadow: -7px 7px 7px rgba(0,0,0,0.3);
  -moz-box-shadow: -7px 7px 7px rgba(0,0,0,0.3);
    box-shadow: -7px 7px 7px rgba(0,0,0,0.3);
}

/*
 =============================================
 Projects Page
 ============================================
*/

.caption {
  -webkit-border-radius: 9px;
          border-radius: 9px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  background: #f6c9a4;
  text-align: left;
}

.caption p {
  display:block;
  min-width: 100%;
  padding: 20px 25px;
  -webkit-transition: opacity 0.3s ease-in-out;
          transition: opacity 0.3s ease-in-out;
}

.caption:hover p {
  opacity: 0.5;
}

.caption::after, 
.caption::before {
  color: #fff;
  height: 50%;
  position: absolute;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
          transition: transform 0.3s ease-in-out;
  width: 100%;
  z-index: 1;
}

.caption::after {
  background: #15bfa1;
  content: attr(data-title);
  padding: 35px;
  top: 0;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}

.caption::before {
  background: #f38155;
  content: attr(data-description);
  font-size: 16px;
  padding: 30px;
  top: 50%;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
}

.caption:hover::after,
.caption:hover::before {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}

.community-gains {
  border: 2px solid #9fd1b6;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.nav-tabs {
  margin-top: 70px;
  margin-bottom: -1px;
}

.tab-content {
  border-left: 3px solid #f5c094;
  border-right: 3px solid #f5c094;
  border-bottom: 3px solid #f5c094;
  -webkit-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
  padding: 20px;
}

/* 
 =============================================
 Team Page
 =============================================
*/

.team-info img {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  float: right;
  padding: 0px;
  margin:0px;
  with: 50%;
}

#nelly-odongo {
  padding-bottom: 30px;
}

#clement-mwangi {
  border: 2px solid #fcbcb4;
}

#nelly-odongo{
  border: 2px solid #9fd1b6;
}

#june-odongo {
  border: 2px solid #f6c9a4;
}

#clement-mwangi,
#nelly-odongo,
#june-odongo {
  -webkit-border-radius: 5px;
          border-radius: 5px;
  margin-bottom: 40px;
}

/*
 =============================================
 Contact Page
 =============================================
*/

.address {
  padding-top: 30px;
  padding-bottom: 30px;
  vertical-align: center
}

.venue-map {
  height: 264px;
}

#contact-info p {
  font-size: 17px;
  font-variant: inherit;
  line-height: 1.5;
}

#partnership {
  padding-bottom: 40px;
  padding-top: 40px;
}

#partnership-criteria {
  padding-bottom: 20px;
  padding-top: 50px;
  text-align: center;
}

#partnership-criteria  article ul {
  list-style-position: inside;
  list-style-type: circle; 
}

/* 
 ===========================================
 Leads
 ===========================================
*/

.lead {
  text-align: center;
}

.lead p {
  color: #380802;
  font-size: 17px;
  line-height: 23px;
}

/*
 =============================================
 Content Styles
 =============================================
*/

.round-borders {
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

#content-section {
  padding-top: 80px;
  padding-bottom: 90px;
}

.content-article {
  padding: 40px 30px;
}

/*
 =============================================
 Primary Navigation
 =============================================
*/

nav.primary-nav ul li {
  display: inline-block;
  margin-right: 15px;
  margin-left: 15px;
  vertical-align: middle;
}

.primary-nav {
  font-size: 19px;
  font-variant: small-caps;
  font-weight: 400;
  letter-spacing: .5px;
}

/*
 =============================================
 Secondary Navigation
 =============================================
*/

.secondary-nav {
  float: right;
}

nav.secondary-nav ul li {
  display: block;
}

/*
 =============================================
 Primary Footer
 =============================================
*/

.social-media-icons {
  margin-top: 30px;
  margin-bottom: 20px;
}

.social-media-icons ul > * {
  display: inline-block;
  margin: 15px 13px;
}

.social-media-icons ul a:hover {
  border-bottom: none;
}

.social-media-icons ul li:first-child {
  margin-left: 450px;
}

.social-media-icons ul li:last-child {
  margin-right: 450px;
}

.primary-footer {
  background-color: #fff;
  border-top: 2px solid #ddd;
  padding-top: 35px;
  padding-right: 15px;
  padding-bottom: 20px;
  padding-left: 15px;
}

.primary-footer small {
  float: left;
  position: relative;
  top: 90px;
  bottom: 5px;
  padding-top: 10px;
  padding-left: 15px;
}