/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
 ===========================================
 Custom Styles
 ===========================================
*/

body {
  color:rgb(40, 49, 54);
  font:400 16px/22px 'Josefin Sans', sans-serif;
}

/*
 ===========================================
 Grid
 ===========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  --moz-box-sizing: border-box;
  -box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}

.my-container,
.grid {
  margin: 0 auto;
  width: 960px;
}

.my-container {
  padding-left: 30px;
  padding-right: 30px;
}

.col-1-2 {
  width: 49.72%;
}

.col-1-3 {
  width: 33.33%;
}

.col-1-5 {
  width: 19%;
}

.col-2-3 {
  width:66.66%;
}

.col-1-2,
.col-1-3,
.col-1-5,
.col-2-3 {
  display: inline-block;
  vertical-align: top;
}

.grid,
.col-1-2,
.col-1-3,
.col-1-5,
.col-2-3 {
  padding-left: 15px;
  padding-right: 15px;
}

.col-1-2,
.col-1-3,
.col-1-5,
.col-2-3 {
  padding-top: 20px;
  padding-bottom: 20px;
}

/*
 ===========================================
 Clearfix
 ===========================================
*/

.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear:both;
}

.cf {
  clear:both;
  *zoom:1;
}

/*
 ===========================================
 Typography
 ===========================================
*/

h1, h2, h3, h4, p {
  margin-bottom: 20px;
}

h1, h2, h3, h4 {
  color: rgb(20, 7, 2);
}

h1 {
  font-size: 32px;
  line-height: 44px;
}

h2 {
  font-size: 24px;
  line-height: 44px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

strong {
  font-weight: bold;
}

cite, em {
  font-style: italic;
}

.hor-center {
  text-align: center;
}

/*
 =============================================
 Links
 =============================================
*/

/*
a:hover {
  color:rgb(46, 25, 6);
}
*/

a {
  color: rgb(20, 7, 2);
}

.primary-nav a {
  text-decoration: none;
}

/*
 =============================================
 Carousel
 =============================================
*/

#myCarousel {
  padding:0;
  margin-bottom: 50px;
}

.carousel-indicators {
  bottom: 0;
}

.carousel-indicators .active {
  background-color: rgb(20, 7, 2);
}

.carousel-indicators li {
  border-color: rgb(20, 7, 2);
}

/*
 =============================================
 Home
 =============================================
*/

.hero {
 padding: 50px;
}

.values {
  padding-top: 20px;
}

.values ul li {
  display: inline-block;
  margin: 20px;
}

/*
 =============================================
 Navigation
 =============================================
*/

.nav {
  text-align: right;
}

/*
 =============================================
 Primary Navigation
 =============================================
*/

nav * {
  margin-right: 40px;
  margin-bottom: 10px;
  vertical-align: middle;
}

nav img {
  margin-top: 5px;
}

.primary-nav {
  font-size: 18px;
  font-variant: small-caps;
  font-weight: 700;
  letter-spacing: .5px;
}

/*
 =============================================
 Primary Footer
 =============================================
*/

.primary-footer small {
  float: left;
}

.primary-footer {
  padding-bottom: 44px;
  padding-top: 44px;
}
