/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
 ===========================================
 Custom Styles
 ===========================================
*/

body {
  background-color: rgb(0, 0, 0, 0);
  /*border: 5px solid #000;*/
  color: #10093d;
  font: 300 15px/22px 'Ubuntu', sans-serif ;
}

/* Styles for fixing a responsive logo */

.logo {
  height: auto;
  width: 250px;
}

/*
 ===========================================
 Grid
 ===========================================
*/

html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  --moz-box-sizing: inherit;
  -box-sizing: inherit;
}

/*
.container {
  margin: 0 auto;
  max-width: 1000px;
}
*/

.my-container,
.grid {
  margin: 0 auto;
  width: 960px;
}

.my-container {
  padding-left: 30px;
  padding-right: 30px;
}

.col-1-2 {
  width: 48.72%;
}

.col-1-3 {
  width: 32.33%;
}

.col-1-5 {
  width: 19%;
}

.col-2-3 {
  width:65.66%;
}

.col-1-2,
.col-1-3,
.col-1-5,
.col-2-3 {
  display: inline-block;
  vertical-align: top;
}

.grid,
.col-1-2,
.col-1-3,
.col-1-5,
.col-2-3 {
  padding-left: 15px;
  padding-right: 15px;
}

.col-1-2,
.col-1-3,
.col-1-5,
.col-2-3 {
  padding-top: 20px;
  padding-bottom: 20px;
}

/*
 ===========================================
 Clearfix
 ===========================================
*/

.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear:both;
}

.cf {
  clear:both;
  *zoom:1;
}

/*
 ===========================================
 Rows
 ===========================================
*/

.row {
  min-width: 1000px;
  margin: 0 auto;
}

.row-1 {
  background-color: #f6f8f8;
}

.row-2 {
  background-color: #E0E1E3;
}

.row-3 {
  background-color: ;
}

.clear-row {
  background-color: #fff;
}

.homepg-row-0 {
  margin-top: -30px;
  margin-bottom: -10px;
  padding-top: 50px;
  padding-bottom: 40px;
}

.homepg-row-1 {
  margin-top: 10px;
  margin-bottom: 20px;
  padding-bottom: 25px;
  padding-top: 10px;
}

.homepg-row-2 {
  border-top: 2.8px solid #ccc;
  margin-top: -20px;
}

.abt-row-0 {
  margin-top: 50px;
  margin-bottom: 0px;
  padding-top: 25px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#blue-filler {
  background-image: -webkit-gradient(
    linear,
    right bottom,
    right top,
    color-stop(0.2, #008CCD),
    color-stop(1, #00A3EF)
  );
  background-image: -o-linear-gradient(top, #008CCD 20%, #00A3EF 100%);
  background-image: -moz-linear-gradient(top, #008CCD 20%, #00A3EF 100%);
  background-image: -webkit-linear-gradient(top, #008CCD 20%, #00A3EF 100%);
  background-image: -ms-linear-gradient(top, #008CCD 20%, #00A3EF 100%);
  background-image: linear-gradient(to top, #008CCD 20%, #00A3EF 100%);
  border-top: 2px solid #fbfdfc;
  padding: 40px 20px;
}

#orange-filler {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.2, #F0B37E),
    color-stop(1, #EB9850)
  );
  background-image: -o-linear-gradient(bottom, #F0B37E 20%, #EB9850 100%);
  background-image: -moz-linear-gradient(bottom, #F0B37E 20%, #EB9850 100%);
  background-image: -webkit-linear-gradient(bottom, #F0B37E 20%, #EB9850 100%);
  background-image: -ms-linear-gradient(bottom, #F0B37E 20%, #EB9850 100%);
  background-image: linear-gradient(to bottom, #F0B37E 20%, #EB9850 100%);
  border-top: 2px solid #fbfdfc;
  padding: 40px 20px;
}

#grey-filler {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #E0E1E3) 
    color-stop(1, #b3b6bb),
  );
  background-image: -o-linear-gradient(bottom, #E0E1E3 20%, #b3b6bb 100%);
  background-image: -moz-linear-gradient(bottom, #E0E1E3 20%, #b3b6bb 100%);
  background-image: -webkit-linear-gradient(bottom, #E0E1E3 20%, #b3b6bb 100%);
  background-image: -ms-linear-gradient(bottom, #E0E1E3 20%, #b3b6bb 100%);
  background-image: linear-gradient(to bottom, #E0E1E3 20%, #b3b6bb 100%);
  border-top: 2px solid #fbfdfc;
  padding: 40px 20px;  
}

#green-filler {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #99CE59),
    color-stop(1, #89C63F)
  );
  background-image: -o-linear-gradient(bottom, #a2d266 20%, #8ac63f 100%);
  background-image: -moz-linear-gradient(bottom, #a2d266 20%, #8ac63f 100%);
  background-image: -webkit-linear-gradient(bottom, #a2d266 20%, #8ac63f 100%);
  background-image: -ms-linear-gradient(bottom, #a2d266 20%, #8ac63f 100%);
  background-image: linear-gradient(to bottom, #a2d266 20%, #8ac63f 100%);
  border-top: 2px solid #fbfdfc;
  padding: 40px 20px;
}

#red-filler {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.17, #e85a4a),
    color-stop(1, #e64c3b)
  );
  background-image: -o-linear-gradient(bottom, #e85a4a 20%, #e64c3b 100%);
  background-image: -moz-linear-gradient(bottom, #e85a4a 20%, #e64c3b 100%);
  background-image: -webkit-linear-gradient(bottom, #e85a4a 20%, #e64c3b 100%);
  background-image: -ms-linear-gradient(bottom, #e85a4a 20%, #e64c3b 100%);
  background-image: linear-gradient(to bottom, #e85a4a 20%, #e64c3b 100%);
  border-top: 2px solid #fbfdfc;
  padding: 40px 20px;
}

/* have to create special classes for this */

#blue-filler h2,
#green-filler h2,
#grey-filler h2,
#orange-filler h2,
#red-filler h2 {
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}

#blue-filler p,
#orange-filler p,
#team-filler p {
  color: #b3b3b3;
}

.page-background {
  background-color: #d9dcde;
}

.cream-background {
  /*background: url("../images/photographyXL.png") repeat;*/
  background-color: #fffde1;
}

/*
 ===========================================
 Typography
 ===========================================
*/

h1, h2, h3, h4,
.primary-nav {
  font:700 16px/22px 'Josefin Sans', sans-serif;
  text-transform: capitalize;
}

h1, h2, h3, h4, p {
  margin-bottom: 20px;
}

h1, h2, h3, h4 {
  color: #0c072e;
}

h1 {
  font-size: 32px;
  line-height: 44px;
}

h2 {
  font-size: 24px;
  line-height: 1.5;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

strong {
  font-weight: bold;
}

cite, em {
  font-style: italic;
}

.hor-center {
  text-align: center;
}

.hot-red {
  color: #d32d1b;
}

.hot-blue {
  color: #;
}

.hot-orange {
  color: #;
}

.hot-green {
  color: #4b6e20;
}

.plain-white-homie {
  color: #f7f7f7;  
}

.orange-headshot {
  color: #a05413;
}

.grey-headshot {
  color: #4d4d4d;
}

.green-headshot {
  color: #5d8828;
}

/*
 =============================================
 Leads
 =============================================
*/


#filler-row h1 {
  color: #7f7f7f;
}

/*
 =============================================
 Links
 =============================================
*/

a {
  color: rgb(20, 7, 2);
}

.primary-nav a,
.secondary-nav a {
  text-decoration: none;
}

.primary-footer a {
  color: #eee;
}

.primary-header a:hover,
.primary-footer a:hover {
  border-bottom: 1px solid rgb(232, 126, 4);
  color: rgb(244, 208, 63);
}

/*
 =============================================
 Carousel
 =============================================
*/

#myCarousel {
  height: 5;
  padding:0;
}

.carousel-indicators {
  bottom: 0;
}

.carousel-indicators .active {
  background-color: #f6740a;
}

.carousel-indicators li {
  border-color: #fff;
}

.carousel-caption h2,
.carousel-caption p {
  font-family: 'Josefin Sans', sans-serif;
  text-shadow: 1px 1px 2px #000;
}

.carousel-caption h2 {
  color: #ea8128;
  font-weight: bold;
}

.carousel-caption p {
  color: #8ac63f;
  font-weight: bold;
}

/*
 =============================================
 Home
 =============================================
*/

.hero {
 padding: 50px;
}

.values {
  color: #2C3E50;
  padding-top: 40px;
  padding-bottom: 40px;
}

.values h2 {
  padding: 5px 0px;
}

.values p {
}

.values ul li {
  border: 2px solid #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  color: #fff;
  display: inline-block;
  margin: 20px;
  text-shadow: 1px 1px 1px #222;
}

.values ul li:nth-child(1) {
  background-color: #a2d266;
  padding: 35px 25px;
}

.values ul li:nth-child(2) {
  background-color: #8ac63f;
  padding: 52px 25px;
}

.values ul li:nth-child(3) {
  background-color: #ea862c;
  padding: 62px 18px;
}

.values ul li:nth-child(4) {
  background-color: #e22f1d;
  padding: 52px 20px;
}

.values ul li:nth-child(5) {
  background-color: #e8594a;
  padding: 40px 24px;
}

.intro {
  background-color: #fbfbfb;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  padding: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.mission {
  background-color: #fbfbfb ;
}

.calm-orange {
  background-color: #f2b279;
}

.cute-orange {
  background-color: #f8cf90;
}

.flat-gray {
  background-color: #f3f3f3;
}

.stunning-red {
  background-color: #ea6859;
}

.sexy-blue {
  background-color: #0097de;
}

.sexy-gray {
  background-color: #e9eaeb;
}

.sexy-green {
  background-color: #92ca4c;
}

.sexy-orange {
  background-color: #eeaa6e;
}

.sexy-red {
  background-color: #e64a3b;
}

/*
 ============================================
 About Page
 ============================================
*/

.about article ul li {
  list-style-type: disc;
}

.about article ol li {
  list-style-type: decimal;
}

#about-who ul li {
  list-style-type: disc;
}

#about-objectives,
#about-who,
#about-what,
#about-why,
#about-how {
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
}

#about-objectives h2,
#about-who h2,
#about-what h2,
#about-why h2,
#about-how h2 {
  color: #fff;
}

#about-objectives,
#about-why {
  margin-right: 9px;
}

#about-what,
#about-how {
  margin-left: 9px;
}

#about-who {
  padding-bottom: 60px;
}

#about-objectives {
  /*border: 2px solid #ea862c;*/
  background: rgb(247, 202, 24);
}

#about-what {
  background-color: #bbb;
}

#about-why {
  background-color: #f1250f;
}

#about-how {
  /*border: 2px solid #8ac63f;*/
  background: #1de200;
  margin-top: -5px;
}

.inspiration {
  background-color: #fba087;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  padding-bottom: 15px;
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
}

.inspiration h2 {
  padding-top: 20px;
}


.list-styles {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 30px
}

.screaming-red {
  background-color: #e8594a;
}

div.grid.sexy-orange {
  border-radius: 5px;
}


/*
 ===========================================
 Jquery Hover Styles
 ===========================================
*/

h2.toggle-header{
  cursor: pointer;
}
h2.toggle-header:hover{
  text-decoration: underline;
}


/*
 =============================================
 Projects Page
 ============================================
*/

.aim-achieve {
  margin: 40px 0px;
  padding: 30px 30px 50px 30px;
}

.arrow-wrapper {
  background-color: #e6e6e6;
  border: 3px solid #ccc;
  -webkit-border-radius: 45px;
          border-radius: 45px;
  margin-top: 20px;
}

.arrow-wrapper-stat {
  border-right: 1px solid #ccc;
  display: inline-block;
  padding: 20px 25px;
}

.arrow-wrapper-stat:last-child {
  border-right: none;
}

.clear-row .content-article .cycle-slideshow .slider {
  margin-bottom: -50px;
}

.cream-background #content-section {
  border-radius: 5px;
}

.community-gains {
  border: 3px solid #e8594a;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  padding: 20px 20px;
}

.community-gains ul li {
  padding: 10px;
}

.nav-tabs {
  margin-top: 70px;
  margin-bottom: -1px;
}

.nav-tabs.nav-justified > li > a {
  border-bottom: 3px solid #f2b279;
}

.nav>li>a:hover,
.nav>li>a:focus {
  text-decoration: none;
  background-color: #f2b279;
}

.nav-tabs.nav-justified>.active>a,
.nav-tabs.nav-justified>.active>a:hover,
.nav-tabs.nav-justified>.active>a:focus{
  background-color: #f2b279
  border: 3px solid #f2b279;
}

.nav-tabs.nav-justified>.active>a,
.nav-tabs.nav-justified>.active>a:hover,
.nav-tabs.nav-justified>.active>a:focus {
  background-color: #f2b279;
  border-bottom: 1px solid #fff;
}

.slider img {
  background-color: #fffef2;
  border: 2px solid #a2a2a2;
  border-radius: 5px;
}

.tab-content {
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  -webkit-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
  margin-bottom: 80px;
  padding: 20px;
}

.tab-content .tab-pane ul {
  list-style-position: inside;
  list-style-type: circle;
  text-align: justify;
}

img {
  max-width: 100%;
  height: auto;
}

.project-content {
  margin-top: -30px;
  margin-bottom: -10px;
  padding: 20px 35px;
}

.project-slider {
  padding: 40px 35px 35px 35px;
}

/*
 =============================================
 Team Page
 =============================================
*/

.team-info img {
  float: right;
  height: auto;
  padding: 0px;
  margin:0px;
  vertical-align: top;
  width: 80%;
}

#nelly-odongo {
}

#clement-mwangi {
  padding-bottom: 30px;
}

#june-odongo {
  padding-top: 50px;
}

#clement-mwangi,
#nelly-odongo,
#june-odongo {
  margin-bottom: 40px;
}

#clement-mwangi div.col-2-3,
#nelly-odongo div.col-2-3,
#june-odongo div.col-2-3 {
  border-radius: 5px;
  margin-bottom: 40px;
  padding: 30px 35px;
}

#clement-mwangi .team-info img {
  border: 6px #fcebd0 solid;
}

#nelly-odongo .team-info img {
  border: 6px #f2f2f3 solid;
}

#june-odongo .team-info img {
  border: 6px #eaf5dc solid;
}

/*
 =============================================
 Contact Page
 =============================================
*/

.address {
  padding-top: 30px;
  padding-bottom: 30px;
  vertical-align: center
}

.venue-map {
  height: 264px;
}

#contact-info {
  border: 3px solid #aaa;
}

#contact-info p {
  font-variant: inherit;
}

.contact-nav {
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

#partnership {
  padding-bottom: 40px;
  padding-top: 40px;
}

#partnership-criteria  article ul {
  list-style-position: inside;
  list-style-type: circle;
  text-align: justify;
  padding: 10px 10%;
}

/*
 ===========================================
 Partners
 ===========================================
*/

section #partner-image img {
  background-color: #fff;
  display: inline-block;
}

.emc-partner-image {
  height: auto ;
  width: 20%;
}

.ms-partner-image {
  height: auto ;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 35%;
}

.zoo-partner-image {
  height: auto ;
  width: 23%;
}

.emc-partner-image,
.ms-partner-image,
.zoo-partner-image {
  background: #FEFEFA;
  border-radius: 5px;
  margin: 10px 30px;
}

.partner-row-inner {
  padding: 20px;
}

.partner-row-outer {
  padding: 20px;
}

/*
 =============================================
 Media
 =============================================
*/

.social-media-content {
  padding: 10px;
  vertical-align: top;
}

 .social-media-content aside {
  float: right;
}

/*
 =============================================
 Content Styles
 =============================================
*/

.round-borders {
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

#content-section {
  padding-top: 60px;
  padding-bottom: 80px;
}

.content-article {
  padding: 40px 40px;
}

.box-shadow {
  box-shadow: 0px 0px 5px #000;  
}

.spacer {
  margin-top: 20px;
  margin-bottom: 20px;
}

/*
 =============================================
 Primary Navigation
 =============================================
*/

nav.primary-nav ul li {
  display: inline-block;
  margin-right: 15px;
  margin-left: 15px;
  vertical-align: middle;
}

nav.primary-nav > a {
  text-transform: capitalize;
}

.primary-nav {
  font-size: 19px;
  font-variant: small-caps;
  font-weight: 400;
  letter-spacing: .5px;
}

/*
 =============================================
 Secondary Navigation
 =============================================
*/

.secondary-nav {
  float: left;
  padding-left: 100px;
}

nav.secondary-nav ul li {
  display: block;
}

/*
 =============================================
 Primary Footer
 =============================================
*/

.social-media-icons ul > * {
  display: inline-block;
  margin: 15px 13px;
}

.social-media-icons ul a:hover {
  border-bottom: none;
}

.primary-footer {
  background-color: #2C3E50;
  border-top: 2.8px solid #ccc;
  border-bottom: 3px solid #5e5e5e;
  color: #f5ba60;
  padding-top: 35px;
  padding-right: 15px;
  padding-bottom: 50px;
  padding-left: 15px;
}

.primary-footer .social-media-icons img {
  border-radius: 50%;
}

.primary-footer small {
  color: #5e5e5e;
  font-size: 12px;
  padding-top: 20px;
  padding-left: 15px;
  position: relative;
  top: 140px;
}

